doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="styles/styles.css" type="text/css" rel="stylesheet")
    title Test Less & Pug
  body
    header
    main
      section
        - var n = 0;
        while ++n <= 2
          article.container(class="container" + n)
            section.container__children(class="container"+ n + "__children children" + n + "-more")
              span.text TEST AGAIN
      section.tree-section
        - colors = [[cyan, orange], [violet, jaune]]
        - duo_count = 2
        - j = 0

        while ++j <= duo_count
          - k = 0
          while ++k <= duo_count
            - var index = -1
            div
              div(class="tree-container tree-colors" + j + k)(class=(j == 2 && k == 2) ? "pb-5" : null  )
                while ++index <= 7
                  - var angle = (360/8) * index;
                    img(class="tree" + " rotate-" + angle, src="media/tree"+ j + k + ".svg")
              if !(j == 2 && k == 2)
                div.tree-splitter(class="tree-splitter" + j + k)
              else


